<div class="list-group">
  <div *ngFor="let user of users" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between align-items-center user-{{user.username}}">
      <div class="d-flex">
        <fa-icon *ngIf="isUser(user); else adminIcon" class="fa-lg mt-1" [icon]="faUser"></fa-icon>
        <h5 class="mb-0 ml-2" id="username-{{user.username}}">{{user.username}}</h5>
      </div>
      <div>
        <button class="btn btn-info" [disabled]="isAdmin(user)" id="edit-{{user.username}}" type="button">
          <fa-icon [icon]="faEdit" class="fa-lg"></fa-icon>
        </button>
        <button (click)="delete(user)" [disabled]="isAdmin(user)" class="btn btn-danger ml-2"
                id="delete-{{user.username}}" type="button">
          <fa-icon [icon]="faTrash" class="fa-lg"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #adminIcon>
  <fa-icon class="fa-lg mt-1" [icon]="faUserShield"></fa-icon>
</ng-template>
